/*********************************
GLOBAL
*********************************/

/* orange: #ff3d2b;*/

@import url(http://fonts.googleapis.com/css?family=Lato:100,400,700);

*{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
  	-webkit-box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Lato';
    background: white;
}


/*********************************
NAVIGATION BAR
*********************************/
nav {
   position: absolute;
   top: 0px;
   float:top;
   max-width: 100%;
   width:100%;
   height:75px;
   background: white;

   border-width:0 0 1px 0 ;
   border-color:gray;
   border-style:solid;
}

nav .left-nav {
	list-style: none;
	float:left;
	display:block;
	height:100%;
}


#profile-logo {
	float:left;
	height:75px;
	width:75px;
	background: url("../images/POLogo.jpg") center;
	background-size: 100%;
	transition: all 200ms linear;
    transition-delay: 400ms;
}

#profile-logo:hover {
	background: url("../images/phillipouID.jpg") center;
	background-size: 100%;
}

#name {
	float:right;
	padding-left:20px;
	padding-top:5px;
	font-family: 'Lato';
	font-weight: 700;
	letter-spacing: 5px;
	font-size:20px;
}
nav .right-nav {
  float:right;
  list-style: none;
  margin: 25px 10px;
  padding-bottom:20px;
  display:block;
}

nav .right-nav li {
  display: inline-block; /* allows list items to be in blocks in a row */
}

nav .right-nav a, nav .right-nav a:visited {
	color:black;
	padding: 15px 10px;
	text-align: right;
	text-decoration: none;
	font-family: 'Lato';
	font-weight:500;
  
}

nav .right-nav a:hover {
	font-weight:500;
	color:#ff3d2b;
}

/*********************************
HEADER
*********************************/

.main-header {
	background: linear-gradient( rgba(0, 0, 0, 0.65) 60%, rgba(0, 0, 0, 0.15)),
				url('../images/boston_skyline.jpg') no-repeat;
	-moz-background-size:100% 100% ;
	-webkit-background-size:100% 100%;
	background-size:100% 100%;
    max-width: 100%;
    width:100%;
    height:100%;
  	max-height: 700px;
  	margin: 0 auto;
  	display:block;
    
}

.header-content {
	width: 85%;
	max-width:85%;
	margin: 75px auto;
	padding-top:260px;
    
}

.header-content h1,h2 {
	margin:auto;
    line-height:51px;
    text-align:center;
    color:white;

}

.header-content h1 {
	font-family: 'Lato';
	font-weight:700;
	font-size:85px;
	letter-spacing: 5px;
	margin-bottom: 25px;
}

.header-content h2 {
	font-family: 'Lato';
	font-weight:300;
	font-size:35px;
	letter-spacing: 2px;
	margin-bottom:10px;
}

.header-content button{
	height:60px; 
    width:155px; 
    background-color: transparent;
    color:#ff3d2b;
    font-family:'Lato';
    font-weight:400;
    font-size:20px;
    border-width:2px;
    border-color:#ff3d2b;
    border-style:solid;
    margin: 35px -75px; 
    position:relative;
    top:50%; 
    left:50%;
}

.header-content button a, .header-content button a:visited{
	text-decoration: none;
	color:inherit;
	background: transparent;
}

.header-content button:hover {
  display: inline-block;
  font-weight: 400;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.2s;
  background: #ff3d2b;
  color:white;

  
}
#learn-more-button a:hover{
	background: transparent;
}

/*********************************
SKILLS AND EDUATION 
*********************************/

.section-header {
	width:100%;
	max-width:100%;
	background: white;

}

.section-header h1 {
	padding-top: 60px;
	padding-bottom:30px;
	max-width:100%;
	font-family: 'Lato';
	font-weight:700;
	position:relative;
	color:black;
	text-align:center;
}
.section-header span {
	font-weight:bold;
	color:#ff3d2b;
}

.skills-and-education .left {
	display: inline-block;
	padding-left:50px;
	width: 48%;
	height:200px;
}

.skills-and-education .right {
	display: inline-block;
	padding-left:50px;
	width:48%;
	height:200px;
}

.skills-and-education .right h3 {
	color:black;
	margin:left;
}

.section-title {
	font-weight:bold;
	font-size:20px;
	line-height: 5px;
}
#major {
	font-weight:500;
	font-size:15px;
	color:gray;
}

/*********************************
Portfolio 
*********************************/

.portfolio {

	height:500px;
	background: gray;

	border-width:1px 0 0 0 ;
    border-color:gray;
    border-style:solid;
    margin-bottom:300px;
}




